<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>录入文章</title>
    {{ ckeditor.load() }}
</head>
<body>
	<div class="warpper" style="width: 700px; margin: auto;">
		<h1>录入文章</h1>
		<form method="post" action="/submit_article">
			{{ form.csrf_token }}
<!-- 			标题1&nbsp;&nbsp;{{ form.t1 }}<br><br>
			标题2&nbsp;&nbsp;{{ form.t2 }}<br><br>
			标题3&nbsp;&nbsp;{{ form.t3 }}<br><br> -->
			一级标题：&nbsp;&nbsp;
			<select name="select_lv1" class="selectpicker form-control" onchange="lv1(this.options[this.options.selectedIndex].value)">
              <option value="1" selected="selected">学院概况</option>
              <option value="2">专业设置</option>
              <option value="3">招生就业</option>
              <option value="4">本科教学</option>
              <option value="5">学生服务</option>
              <option value="6">校友天地</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;
            二级标题：&nbsp;&nbsp;
            <select id="lv2" name="select_lv2" class="selectpicker form-control">
              <option value="1" selected="selected">简介</option>
              <option value="2">机构设置</option>
              <option value="3">获奖情况</option>
            </select><br><br>
            文章标题：&nbsp;&nbsp;<input id="title" name="title" type="text" value="" style="width: 200px"><br><br>
            简介：&nbsp;&nbsp;&nbsp;&nbsp;<input id="abstract" name="abstract" type="text" value="" style="width: 400px"><br><br>
			{{ form.body }}
			<br>
			{{ form.submit }}
		</form>
	</div>
	{{ ckeditor.config(name='body') }}
	<script type="text/javascript">
		function lv1(s)
		{
		    var x= document.getElementById("lv2")
		    // console.log(s)
		    // console.log(x)
		    if (s == 1){
		 		document.getElementById("lv2").innerHTML = '<option value="1" selected="selected">简介</option>'
		 		+'<option value="2">机构设置</option>'
		 		+'<option value="3">获奖情况</option>'
		 		;
			}
		    else if (s == 2){
		 		document.getElementById("lv2").innerHTML = '<option value="1" selected="selected">汽车电子技术专业</option>'
		 		+'<option value="2">汽车检测与维修技术专业</option>'
		 		+'<option value="3">汽车营销与服务专业</option>'
		 		+'<option value="4">汽车运用与维修技术专业</option>'
		 		+'<option value="5">汽车制造与装配技术专业</option>'
		 		;
			}
			else if (s == 3){
		 		document.getElementById("lv2").innerHTML = '<option value="1" selected="selected">招生信息</option>'
		 		+'<option value="2">就业信息</option>'
		 		+'<option value="3">现代学徒制</option>'
		 		+'<option value="4">校企合作</option>'
		 		;
			}
			else if (s == 4){
		 		document.getElementById("lv2").innerHTML = '<option value="1" selected="selected">院校介绍</option>'
		 		+'<option value="2">专业设置</option>'
		 		;
			}
			else if (s == 5){
		 		document.getElementById("lv2").innerHTML = '<option value="1" selected="selected">学生组织</option>'
		 		+'<option value="2">规章制度</option>'
		 		;
			}
			else if (s == 6){
		 		document.getElementById("lv2").innerHTML = '<option value="1" selected="selected">优秀毕业生</option>'
		 		;
			}
		}
	</script>
</body>
</html>